.box b {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #C45100;
  box-shadow: inset -5px -5px 5px rgba(0, 0, 0, .6), 15px 15px 2px rgba(0, 0, 0, .04);
  position: relative;
  -webkit-animation: moveX 5.05s linear 0s infinite alternate, moveY 1s linear 0s infinite alternate;
  -moz-animation: moveX 5.05s linear 0s infinite alternate, moveY 1s linear 0s infinite alternate;
  -o-animation: moveX 5.05s linear 0s infinite alternate, moveY 1s linear 0s infinite alternate;
  animation: moveX 5.05s linear 0s infinite alternate, moveY 1s linear 0s infinite alternate;
}


@-webkit-keyframes moveX {
  from { left: 0; } to { left: 97%; }
}
@-moz-keyframes moveX {
  from { left: 0; } to { left: 97%; }
}
@-o-keyframes moveX {
  from { left: 0; } to { left: 97%; }
}
@keyframes moveX {
  from { left: 0; } to { left: 97%; }
}
@-webkit-keyframes moveY {
  from { top: 0; } to { top: 97%; }
}
@-moz-keyframes moveY {
  from { top: 0; } to { top: 97%; }
}
@-o-keyframes moveY {
  from { top: 0; } to { top: 97%; }
}
@keyframes moveY {
  from { top: 0; } to { top: 97%; }
}