/* ~ Small ~ */

@media only screen and (max-width: 900px) {
 #img{
     display: none;
 }

 header {
    background: linear-gradient(180deg, yellow 30%, yellow 70%);
    padding-bottom: 5%;
 }

 #bercow {
   color: blue;
}

#arrow {
    display: none;
}

 h1 {
     font-size: 6.5vh;
 }

 h2 {
     font-size: 4vh;
 }

 h3 {
     font-size: 3.25vh;
 }

 #name {
     padding-left: 5%;
 }

 #underline {
    padding-left: 5%;
}

 #border {
    border: 1em solid yellow;
    margin: auto;
    padding: 1%;
}

body {
    background-color: yellow;
}

#hoops {
    display: none;
}

#underline {
    border-left: .1px solid black;
    border-bottom: 0px solid black;
    width: 50%;
    padding-left: 2%;
    font-family: "HW Pano Light Trial";
}


#education {
    padding: 2%;
    width: 100%;
    background: yellow;
}

#Bandpass {
    background: yellow;
}

#experience-text {
    color: red;
}

#contact {
    padding: 0;
    width: 100%;
    background: yellow;
}

button{
    display: none;
}

#bottomButton{
    display: inherit;
    color: blue;
    text-align: center;
    margin-bottom: 3%;
}

#resume{
    display: inherit;
    color: blue;
    text-align: center;
    margin: 0 auto;
}

.box b {
    position: relative;
    -webkit-animation: moveX 1.4s linear 0s infinite alternate, moveY 0.3s linear 0s infinite alternate;
    -moz-animation: moveX 1.4s linear 0s infinite alternate, moveY 0.3s linear 0s infinite alternate;
    -o-animation: moveX 1.4s linear 0s infinite alternate, moveY 0.3s linear 0s infinite alternate;
    animation: moveX 1.4s linear 0s infinite alternate, moveY 0.3s linear 0s infinite alternate;
  }

}

#kobe {
    float: inherit;
}


/* ~ Big ~ */

@media only screen and (min-width: 900px) {
    .column-layout {
        display: flex;
        justify-content: space-between;
        padding-bottom: 3%;
    }

    .column-layout-second {
        display: flex;
        padding: 2%;
        justify-content: space-between;
    }

    #mobileBall {
        display: none;
    }
    
}